<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
        <th scope="col">Country</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of allEmployees;let i = index;">
        <th scope="row">{{i + 1}}</th>
        <td>
            {{item['fName']}}
        </td>
        <td>
            {{item['lName']}}
        </td>
        <td>
            {{item['age']}}
        </td>
        <td>
            {{item['country']}}
        </td>
      </tr>
      
    </tbody>
  </table>